In [1]:
import pandas as pd
import os

In [2]:
file_name = pd.read_csv('tweetracisteu.csv')
file_name

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1507506689515442195,1507506689515442195,2022-03-26 02:56:17 E. Africa Standard Time,2022-03-26,02:56:17,300,1412186727888924679,aidreessy,Dr. A. Idreessy. Palestinian Lives Matter,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1507379384872808455,1507379384872808455,2022-03-25 18:30:25 E. Africa Standard Time,2022-03-25,18:30:25,300,1458224322284335113,sicariogam3r,Sicario Gamer üáµüá∏üá∑üá∫,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1507370746565345280,1507370746565345280,2022-03-25 17:56:06 E. Africa Standard Time,2022-03-25,17:56:06,300,88729438,uncleobama_,UncleObama üè≥Ô∏è‚Äçüåàüè≥Ô∏è‚Äçüåàüòòüè≥Ô∏è‚Äçüåàüè≥Ô∏è‚Äçüåà,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1506941991954919425,1506818081187893248,2022-03-24 13:32:23 E. Africa Standard Time,2022-03-24,13:32:23,300,1544064283,scorpionplan,Estrategia Escorpi√≥n,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'irvinmigue', 'name': 'Irving...",NaN,NaN,NaN,NaN
4,1506931921087049734,1506931921087049734,2022-03-24 12:52:22 E. Africa Standard Time,2022-03-24,12:52:22,300,1482065440843120642,silenceisgolddd,Muhammadjamal,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,1504856767167180804,1504856767167180804,2022-03-18 19:26:26 E. Africa Standard Time,2022-03-18,19:26:26,300,863314160,magnificodeejay,MAG,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
69,1504842794497622035,1504842794497622035,2022-03-18 18:30:55 E. Africa Standard Time,2022-03-18,18:30:55,300,2552859566,platformlive_tv,PlatformLive_TV,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
70,1504824008310767624,1504562806976397313,2022-03-18 17:16:16 E. Africa Standard Time,2022-03-18,17:16:16,300,2496409002,miskristian,Christian M.,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'ZemmourEric', 'name': 'Eric ...",NaN,NaN,NaN,NaN
71,1504787760074305536,1504717343934533634,2022-03-18 14:52:14 E. Africa Standard Time,2022-03-18,14:52:14,300,1073419444443963393,kalajadu93,kala Jadu,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'KhaledBeydoun', 'name': 'Kha...",NaN,NaN,NaN,NaN
72,1504778911888125959,1504778911888125959,2022-03-18 14:17:04 E. Africa Standard Time,2022-03-18,14:17:04,300,1153914084850589699,bob_footy_horse,Bob_London,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [3]:
df_file = file_name[['username','tweet','mentions']]
df_file

,username,tweet,mentions
0,aidreessy,Les ukrainiens seraient ils de la race aryenne...,[]
1,sicariogam3r,Ukraine has exposed the blatant Western Racism...,[]
2,uncleobama_,Exactl same double standards in #RacistUkraine...,"[{'screen_name': 'iaindale', 'name': 'iain dal..."
3,scorpionplan,@irvinmigue @FicoGutierrez #Racista #racistas ...,[]
4,silenceisgolddd,100% agreed! #RacistEU #RacistUkraine #NoMore...,[]
...,...,...,...
68,magnificodeejay,"Applause @vonderleyen and @antoniocostapm, the...","[{'screen_name': 'vonderleyen', 'name': 'ursul..."
69,platformlive_tv,"I wrote this poem, seeing the abhorrent treatm...",[]
70,miskristian,@ZemmourEric Ne mettez plus les pieds en #afri...,[]
71,kalajadu93,@KhaledBeydoun Racist part of the world #RacistEU,[]
72,bob_footy_horse,@mrjamesob is doing his best this morning - to...,[]

In [4]:
df_file.to_csv('file1.csv')

In [7]:
df_file1 = file_name[['username','tweet']]
df_file1

           username                                              tweet
0         aidreessy  Les ukrainiens seraient ils de la race aryenne...
1      sicariogam3r  Ukraine has exposed the blatant Western Racism...
2       uncleobama_  Exactl same double standards in #RacistUkraine...
3      scorpionplan  @irvinmigue @FicoGutierrez #Racista #racistas ...
4   silenceisgolddd  100% agreed!  #RacistEU #RacistUkraine #NoMore...
..              ...                                                ...
68  magnificodeejay  Applause @vonderleyen and @antoniocostapm, the...
69  platformlive_tv  I wrote this poem, seeing the abhorrent treatm...
70      miskristian  @ZemmourEric Ne mettez plus les pieds en #afri...
71       kalajadu93  @KhaledBeydoun Racist part of the world #RacistEU
72  bob_footy_horse  @mrjamesob is doing his best this morning - to...

[73 rows x 2 columns]

In [8]:
df_file1.to_csv('file2.csv')

In [ ]:
#for hashtag in all_hashtags:
    _d_df = tweets_df.loc[tweets_df.hashtags==hashtag]
    print(f"Hashtag: {hashtag}, tweets: {_d_df.shape[0]}")
    
    
    #for i in range(len(df)):
    txt = df_tweet.loc[i]["tweet"]
    txt = re.sub('pic.twitter.com/[A-Za-z0-9./]+','',txt)
    txt = re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
    txt = re.sub(r'^[RT]+','',txt)#replace RT-tags
    txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
    txt = re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
    df_tweet.at[i,"tweet"]=txt

In [ ]:
def clean_text(txt):
    txt = re.sub(r"RT[\s]+", "", txt)
    txt = txt.replace("\n", " ")
    txt = re.sub(" +", " ", txt)
    txt = re.sub(r"https?:\/\/\S+", "", txt)
    txt = re.sub(r"(@[A-Za-z0‚Äì9_]+)|[^\w\s]|#", "", txt)
    txt = emoji.replace_emoji(txt, replace='')
    txt.strip()
    return txt
# Cleaning tweet text
df["Tweets"] = df["Tweets"].apply(clean_text)

In [ ]:
print('- Total number of fake_news tweets: {}'.format(fake_news.label.sum()))
    print('- First fake_news tweet: {}'.format(fake_news.index.min()))
    print('- Last tweet: {}'.format(fake_news.index.max()))
    print('- Average frequency: {}'.format(res.mean()))

In [ ]:
plt.savefig("twitter_news_vader_avg_bargraph.png")

In [ ]:
def most_mentioned_people(top_words, most_used_words):
    mentioned = {}
    count_u = 0
    for word in most_used_words:
        if count_u < 10 and word.startswith('@'):
            print(top_words[word], word)
            mentioned[word] = top_words[word]
            count_u += 1
    print('*' * 40) # esto es para separar visualmente la informaci√≥n
    return mentioned

def top20_words(top_words, most_used_words):
    the20 = {}
    count = 0
    for word in most_used_words:
        if count < 35:
            print(top_words[word], word)
            the20[word] = top_words[word]
            count += 1
    return the20

In [ ]:
df_retweet=df_tweet.retweet.groupby(df_tweet["retweets_count"]).count()
df_retweet.head(10)